<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toboolist</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <body>
    <header>
      <img id="logo" src="img/logo.png" alt="logo boolean" />
      <span id="logo-text">Toboolist</span>
    </header>
    <main>
      <div id="app" class="container">
        <div class="top">
          <input type="text" v-model="newTodo" placeholder="es: Fare la spesa..." />
          <button type="button" class="btn btn-filled" @click="addTodo">Add Task</button>
        </div>
        <div class="tasks">
          <ul class="inner-list">
            <li v-for="(todo, index) in todos" :class="{ done: todo.done }">
              <span class="circle" @click="toggleDone(index)"></span>{{ todo.text }}
            </li>
          </ul>
        </div>
      </div>
    </main>
    <script src="./js/script.js"></script>
  </body>
</html>
